 body{
     font: 15px/1.5 Arial, Helvetica, Sans-serif;
     padding:0;
     margin: 0;
     background-color: #f4f4f4
 }

 /* Global*/
.container{
    width: 80%; /* use percentage to make screen responsive*/
    margin: auto;
    overflow:hidden;
}

/* ul by default have padding. To remove bullet points and make links appear horizontally*/
 ul{
    margin:0; /*therefore, we set padding and margin to 0*/
    padding:0;
    /*moving u to global section applies o margin to padding to all ul on page by default*/

}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:white;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */

header{
    background:#35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height:70px; /* when responsive and screen smaller and menu goes on next line, height will adjust */
    border-bottom: #e8491d 3px solid;
}

/* change colour of links (a tags) separately*/
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;

} 


header li{
    float: left;
    display:inline;
    padding:0 20px 0 20px; 
}

/*to make navbar appear on the right side*/

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

/*to make original link and Acme word in header to be orange*/
header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
/*after setting these new classes, go to index.html under id="branding", add a <span> span is an in-line level element, meaning the tage goes on its own line 

current class to apply to li only when on that page currently*/
}

header a:hover{
    color: #cccccc;
    font-weight:bold;

}

/*Showcase*/
#showcase{
    min-height:400px; /* when responsive and screen smaller and menu goes on next line, height will adjust */
    background:url('../img/showcase.jpg') no-repeat 0 -450px; opacity:70%; /*../ shows that we 'get out' of css folder and into the img one to access the path instead
    0 refers to x-axis (horizontal) and to move it up/downwards, -..px or ..px set*/
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top:70px; /*move h1 down*/
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
    
}

/*newsletter*/
#newsletter{
    padding:15px;
    color:white;
    background:#35424a;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top: 15px;
}

/*to style the input placeholder. Specify type="email" */
#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}

/* for button design, we will move it to the global section at the top to apply button design across whole site*/

/*boxes*/
#boxes{
    margin-top:20px;
}

/*.box showing individual boxes*/
#boxes .box{
    float:left;
    text-align:center;
    width: 30%; /*responsive, so % used*/
    padding:10px;
   
}

/*resizing boxes*/
#boxes .box img{
    width: 90px;
   

}

/*sidebar*/

aside#sidebar {
float:right;
width:30%; /* responsive, so % used*/ 
} /*dark background will be applied under GLOBAL*/

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

/*main-col*/

article#main-col{
    float:left;
    width:65%; /* to make about us text stay on the left side*/
}

/*Services*/
ul#services li{
    list-style: none;
    padding: 20px;
    border:#cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
    
}

/* Media Queries - for ensuring website looks good on mobile device. This group of css works only if screenis of a certain width*/

/*most tablet screen sizes have max-width of 768px*/
/*removing floats so things won't overlap for specific parts*/
@media(max-width:768px){
    header #branding, header nav, header nav li #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }
  /*for heading to have some space underneath n mobile device*/  
  header{
      padding-bottom:20px;
  }
  #showcase h1{
      margin-top: 40px; /*100px by default*/
  }
 #newsletter button, .quote button{
     display:block; /*make a block so it's always on a separate line and not joined to the button*/
     width:100%;
 }
  #newsletter form input[type="email"], .quot imput, .quote textarea{
      width:100%;
      margin-bottom: 5px; 
  }
      
}